.dropdown-link {
  padding: 8px 30px;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  border: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown-link:hover {
  background-color: gainsboro;
}
.click-btn {
  background-color: lawngreen;
  padding: 5px 17px;
  font-size: large;
  border: hidden;
}
